/* 1. Position STATIC */
.exercice-static .container {
  position: static;
}
/* 2. Position RELATIVE */
.exercice-relative .block-blue {
  position: relative;
  right: -20px;
}
/* 3. Position RELATIVE II */
.exercice-relative-2 .block-blue {
  position: relative;
  top: -20px;
  left: -20px;
}
/* 4. Position ABSOLUTE */

/* 5. Position ABSOLUTE II */

/* 6. FIGURE / FIGCAPTION */
