/* 1. Position STATIC */

.exercice-static {
  position: static;
}

/* 2. Position RELATIVE */

/* 3. Position RELATIVE II */

/* 4. Position ABSOLUTE */

/* 5. Position ABSOLUTE II */

/* 6. FIGURE / FIGCAPTION */
