.exercice-static {
  position: static;
}

.exercice-relative .block-blue {
  position: relative;
  left: 20px;
  bottom: 0;
}

.exercice-relative-2 .block-blue {
  position: relative;
  right: 20px;
  bottom: 20px;
}

.exercice-absolute .container {
  position: relative;
}

.exercice-absolute .block-blue {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* 5. Position ABSOLUTE II */

/* 6. FIGURE / FIGCAPTION */
