/* 1. Position STATIC */

/* 2. Position RELATIVE */
.exercice-relative .block-blue{
  position: relative;
  left: 20px;
}
/* 3. Position RELATIVE II */
.exercice-relative-2 .block-blue{
  position: relative;
  bottom: 20px;
  right: 20px;
}

/* 4. Position ABSOLUTE */

/* 5. Position ABSOLUTE II */

/* 6. FIGURE / FIGCAPTION */
