/* 1. Position STATIC */

 .exercice-static .container{
   position: static;
}
/* 2. Position RELATIVE */

.exercice-relative .container {
    position: relative;
}
.exercice-relative .block-blue {
    position: relative;
    right: -20px;
}
/* 3. Position RELATIVE II */
.exercice-relative-2 .container {
    position: relative;
}
.exercice-relative-2 .block-blue {
    position: relative;
    top: -20px;
    right: 20px;
}
/* 4. Position ABSOLUTE */
.exercice-absolute .container {
    position: relative;
}
.exercice-absolute .block-blue {
    position: absolute;
    bottom: 0;
    right: -1px;
}

/* 5. Position ABSOLUTE II */
.exercice-absolute-2 .container {
    position: relative;
}
.exercice-absolute-2 .block-black {
    position: absolute;
    top: 0;
    right: 50%;
}
.exercice-absolute-2 .block-red {
    position: absolute;
    top: 0;
    left: 5;
}
.exercice-absolute-2 .block-blue {
    position:absolute;
    top: 0;
    left: 89%;
}

/* 6. FIGURE / FIGCAPTION */
