/* 1. Position STATIC */
.exercice-static .block {
  position: static;
}

/* 2. Position RELATIVE */
.exercice-relative .block-blue {
  position: relative;
  left: 20px;
}

/* 3. Position RELATIVE II */
.exercice-relative-2 .block-blue {
  position: relative;
  left: -20px;
  top: -20px;
}

/* 4. Position ABSOLUTE */
.exercice-absolute .container {
  position: relative;
}

.exercice-absolute .block-blue {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

/* 5. Position ABSOLUTE II */

/* 6. FIGURE / FIGCAPTION */
